.contentcont.scorecardcontainer {
  padding: 0;
}
.scorecardcont {
  display: flex;
  max-height: 300px;
}
.scorecardleft {
  width: 62%;
  padding: 2rem;
  background-color: #231f20;
  color: white;
}
.scorecardright {
  width: 38%;
  position: relative;
}
.cornerstyle {
  position: absolute;
  left: -10rem;
}
.scorecardright img {
  /* width: 100%; */
  height: 100%;
}
.scorecontent {
  width: 60%;
}
.actionbtncont {
  width: 12rem;
}
.scoreheading {
  font-size: 2rem;
}
.scoreheading span {
  color: #2782eb;
  font-size: 2.5;
  font-weight: 600;
}
.scoresub {
  font-size: 1.5rem;
}
