.workingimgcont {
  display: flex;
  justify-content: center;
  width: 86%;
  padding-bottom: 3rem;
}
.workingimgsub {
  width: 40%;
}

.workingimg img {
  box-shadow: 0 24px 64px -24px rgba(44.00000000000002, 58, 4.000000000000002, 0.4);
  width: 100%;
  height: auto;
  border-radius: 16px 16px 16px 16px;
}
.workingimg {
  margin: 1.5rem 1rem;
}
.workingimg3 {
  margin-top: 4rem;
}
.partnercont.workcont {
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 0;
}
.partnerright.workcontright {
  max-width: 42%;
}
.workbtncont {
  margin-top: 3rem;
}
/* ***************************************
**************Responsiveness***********
*************************************** */

@media (max-width: 1000px) {
  .workinfoleft {
    width: 50%;
  }
  .partnerright.workcontright {
    max-width: 50%;
  }
}

@media (max-width: 850px) {
  .workinfoleft {
    width: 45%;
  }
  .partnerright.workcontright {
    max-width: 55%;
  }
  .workbtncont {
    margin-top: 2rem;
  }
}
@media (max-width: 750px) {
  .workingimgcont {
    width: 100%;
    padding-bottom: 0;
  }
}
@media (max-width: 630px) {
  .partnercont.workcont {
    flex-direction: column;
    padding: 1rem;
  }
  .workinfoleft {
    width: 100%;
  }
  .partnerright.workcontright {
    max-width: 100%;
  }
  .workingimgcont {
    padding-bottom: 3rem;
  }
}
